/*!
 * CDN
 */
/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/296db2");


@import "bootstrap/bootstrap.less";
@import "flexslider.less";
@import "fonts.less";

@wrapwidth: 780px;

/* ==========================================================================
   Base
   ========================================================================== */
body, li, i {
   font-family: 'NeuzeitSLTStd-Book';
   font-size: 18px;
   font-weight: normal;
   color: #070201;
}
h1, h2, h3, h4, h5, h6, p, .meta {
   font-family: 'NeuzeitSLTStd-BookHeavy';
   font-weight: normal;
}
footer li {
   font-size: 16px;
}
footer p{
   font-size: 15px;
}
h4 {
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size:19px;
}
h2 {
   font-size: 24px;
}
h4.title {
   text-transform: none;
   letter-spacing: 0px;
}
.icon-share:before {
   padding-right: 10px;
   font-size: 20px;
   top: 4px;
   position: relative;
}
.container>.navbar-header, .container>.navbar-collapse {
   margin: 0 0 !important;
}

.col-sm-12 {
   padding: 0 0;
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 0;
   position:relative;
}
.row-fluid {
   width: 96%;
   margin: 0 auto;
   .feed {
      min-height: 300px;
   }
   .span2 {
      float: left;
      width: 16.6666667%;
      // border: 2px solid #ccc;
      .box-sizing();
      &.placeholder {
         text-align: center;
      }
      &.modal-block {
         padding-top: 30px;
         a {
            display: block;
            min-height: 200px;
            width: 94%;
            max-width: 200px;
            margin: 0 auto;
            border: 4px solid red;
            padding: 10px;
            .box-sizing();
            position: relative;
            .transition(all .5s);
            &:hover {
               text-decoration: none;
               .opacity(.5);
               .transition(all .5s);
            }
         }
         h4 {
            font-size: 22px;
            text-transform: none;
            line-height: 1.3;
         }
      }
   }
   .span4 {
      width: 33.3333333%;
      float: left;
      text-align: center;
      position:relative;
      img {
         padding-top: 30px;
      }
      .hover {
         .opacity(0);
         //.transition(all .5s);
         position: absolute;
         text-align: center;
         width: 100%;
      }
      .callout {
         position: absolute;
         .opacity(.8);
      }
      .hover_note {
         .opacity(0);
            .transition(all .5s);
         position: absolute;
         margin-top: -50px;
         margin-left: -40px;
         //z-index: 150;
      }
      &:hover {
         .hover {
            .opacity(1);
         //   .transition(all .5s);
         }
         .hover_note {
            .opacity(1);
            .transition(all .5s);
            z-index:150;
         }
      }
   }
   h4 {
      font-size: 26px;
   }
   .icon-arrow-right {
      font-size: 28px;
      position: absolute;
      bottom: 0px;
   }
}
.hover-place {
   .hover {
      .opacity(0);
      //.transition(all .5s);
      position: absolute;
   }
   &:hover {
      .hover {
         .opacity(1);
      //   .transition(all .5s);
      }
   }
}
a {
   &:hover {
      text-decoration: none;
      color: #0033fe;
   }
}

/* ==========================================================================
   Header
   ========================================================================== */


.banner {
   &.navbar-default {
      background-color: #fff;
      border-bottom: 0px;
      z-index: 100;
      margin-bottom: 0px;
      padding-bottom: 20px;
   }
}
.social-links {
   position: absolute;
   right: 30px;
   top: 40px;
   a {
      color: #070201;
      font-size: 22px;
      padding: 3px;
      display: inline-block;
      &:hover {
         text-decoration: none;
         color: #0033fe;
      }
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }


/* ==========================================================================
   Boogers
   ========================================================================== */

.booger {
   position: relative;
   .rateimg {
      margin-top: 20px;
   }
}

.post-37 {
   text-align: center;
      min-height: 730px;
   .header {
      img {
         max-width: 600px;
         width: 100%;
         margin: 0 auto;
         padding-bottom: 30px;
         padding-top:10px;
      }
   }
   .ranking {
      padding: 40px 0 70px;
      margin-top: 50px;
      p {
         .opacity(.5);
         max-width: 400px;
         margin: 0 auto;
         padding-bottom:20px;
      }
   }
   #content {
      overflow:hidden;
      position:relative;
      #pagination {
         position: absolute;
         width: 100%;
         z-index: 100;
         top: 18px;
         a {
            font-size: 30px;
            color: #596e16;
            .transition(color .5s);
            &:hover {
               color: #1e2506;
               .transition(color .5s);
               text-decoration: none;
            }
         }
      }
   }
   .old {
      position: absolute;
      right: 50%;
      margin-right: -310px;
   }
   .new {
      position: absolute;
      left: 50%;
      margin-left: -310px;
   }
}
.dino {
   position: absolute;
   right: -40px;
   bottom: -60px;
   a {
      color: #fff;
      &:hover {
         color: #0033fe;
      }
   }
   h4 {
      position: absolute;
      color: #fff;
      font-style: italic;
      text-transform: none;
      font-size: 16px;
      top: 52px;
      left: 36px;
      line-height: 1.4;
      span {
         text-deocration: underline;
      }
   }
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.row {
   margin: 0 auto;
}
.navbar-default .navbar-toggle {
   display: none;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Videos
   ========================================================================== */
.single-videos {
   .main {
      margin: 0 auto;
      padding: 20px 0 0;
      .box-sizing;
   }
   .content {
      background: #DA2105;
   }
   article {
      max-width: @wrapwidth;
      margin: 0 auto;
      .box-sizing;
      padding: 0 20px;
   }
   .banner.navbar-default {
      background: #DA2105;
      margin-bottom: 0px;
   }
   .video {
      position: relative;
      padding-bottom: 53%; /* 16:9 */
      padding-top: 25px;
      height: 0;
   }
   .info-block {
      p {
         font-family: 'NeuzeitSLTStd-BookHeavy';
      }
   }
   .date {
      font-family: 'NeuzeitSLTStd-BookHeavy';
      font-size: 18px;
      .opacity(.5);
      margin-bottom: 10px;
   }
}
h1.title {
   color: #fff;
   margin-bottom: 0px;
   font-size: 24px;
}
#feed {
   background: #B01D0A;
   color: #070201;
   padding: 40px 0 80px;
   margin-top: 30px;
   .wrapper {
      max-width: @wrapwidth;
      margin: 0 auto;
      padding: 0 20px;
      .box-sizing;
   }
   li {
      margin-right: 40px;
   }
   .other-ep {
      h4 {
         margin-bottom: 16px;
      }
      h4.title {
         font-size: 16px;
         margin-bottom:0px;
      }
   }
   .about {
      border-bottom: 1px solid rgba(0,0,0,.7);
      padding-bottom: 24px;
      margin-bottom: 40px;
      p {
         font-size: 16px;
      }
   }
   .meta {
      color: rgba(11,5,2,.5);
      font-size: 12px;
   }
}

.video iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.slides {
   li {
      cursor: pointer;
      .opacity(.7);
      &.flex-active-slide {
         .opacity(.7);
      }
      &:hover {
         .opacity(1);
      }
   }
}
#video-feed {
   li {
      &.flex-active-slide {
         display: none !important;
      }
   }
}
.info-block {
   .info {
      width: 70%;
      float: left;
   }
   .social {
      width: 30%;
      float: right;
      font-family: 'NeuzeitSLTStd-BookHeavy';
      .btn-block {
         width: 70%;
         background: rgba(0,0,0,.3);
         padding: 10px 18px 6px;
         float: right;
         .box-sizing;
         &.share {
            padding-bottom: 10px;
         }
      }
   }
}
/* ==========================================================================
   Modal Content
   ========================================================================== */
.modal-window {
   position: fixed;
   width: 100%;
   height: 100%;
   overflow: scroll;
   top: 0px;
   left: 0px;
   z-index: -1;
   .opacity(0);
   background: rgba(255,255,255,.4);
   .animation(all .5s);
   .modal-container {
      position: absolute;
      width: 600px;
      margin-left: -300px;
      top: 50%;
      left: 50%;
      height: 400px;
      margin-top: -200px;
      padding: 20px 40px;
      .box-sizing();
      border: 6px solid red;
      background: #fff;
      &.modal23 {
         input[type='submit'] {
            background-color: #b4d366;              
         }
         height: 580px;
         margin-top: -290px;
      }
      &.modal22 {
         input[type="submit"] {
            background: #02d2c1;
         }
         height: 350px;
         margin-top: -270px;
      }
   }

   &.active {
      .animation(all .5s);
      z-index: 200;
      .opacity(1);
   }
}
      input, textarea {
         background-color: #F0EFF0;
         border: none;
         padding: 8px;
         .box-sizing();
         width: 100%;
         margin-top: 14px;
         font-family: 'NeuzeitSLTStd-BookHeavy';
         font-weight: normal;
         color: #070201;
      }
      textarea {
         resize: none;
         margin-bottom: 14px;
         height: 160px;
      }

   input[type='submit'] {
      color: #fff;
      font-family: 'NeuzeitSLTStd-BookHeavy';
      font-weight: normal;
      width: auto;
      border: none;
      padding: 11px 20px 5px;
   }

#mc-embedded-subscribe {
   margin: 1em 0 !important;
}
.wpcf7-response-output {
   border: none !important;
   margin: 0 0 !important;
   padding: 10px 0 !important;
}

/* ==========================================================================
   flex overrides
   ========================================================================== */

.flexslider {
   margin-bottom: 0px;
   background: none;
   border: none;
   .box-shadow(none);
   .flex-direction-nav a {
     //  opacity: 1 !important;
   }
   &:hover .flex-prev {
      left: 0px !important;
   }
   &:hover .flex-next {
      right: 0px !important;
   }
}
.flex-controls {
   position: absolute;
   width: 100%;
   left: 0px;
   top: 25%;
   .flex-direction-nav {
      .flex-prev {
         left: 20px;
      }
      .flex-next {
         right: 20px;
      }
      .flex-disabled {
         opacity: 0 !important;
      }
   }
}
.type-videos {
   .flex-controls {
      .flex-direction-nav {
         .flex-prev, .flex-next {
            display: none;
         }
      }
   }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
   background-color: #F0F0F0;
   padding: 50px 0 40px;
   font-size: 16px;
   ul {
      min-height: 150px;
      li {
         display: inline-block;
         vertical-align: top;
         text-transform: uppercase;
         font-family: 'NeuzeitSLTStd-BookHeavy';
         width: 200px;
         cursor: pointer;
         .transition(opacity .5s);
         &.signup {
            color: #02d2c1;
         }
         &.feedback {
            color: #b4d366;
         }
         &:hover {
            .opacity(.5);
            .transition(opacity .5s);
         }
      }
   }
   p {
      &.floatright {
         float: right;
         width: 50%;
         text-align: right;
      }
      &.floatleft {
         float: left;
         text-align: left;
         width: 50%;
      }
      font-family: 'NeuzeitSLTStd-BookHeavy';
      color: rgba(0,0,0,.3);
      width: 98%;
   }
}
.upper {
   text-transform: uppercase;
}
.foot-wrap {
   max-width: 94%;
   margin: 0 auto;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 1160px) {
   .row-fluid {
      .span2 {
         max-width: 16.66666667%;
         width: 25%;
      }
      .span4 {
         width: 50%;
         max-width: 33.33333333%;
         img {
            width: 100%;
            &.callout {
               width: auto;
            }
         }
      }
   }
}
@media (max-width: 1023px) {
   .row-fluid {
      .span2 {
         max-width: 100%;
         width: 25%;
      }
      .span4 {
         width: 50%;
         max-width: 100%;
         img {
            width: auto;
         }
      }
   }
}
@media (max-width: 780px) {
   .row-fluid {      
      .span4 {
         img {
            width: 100%;
         }
      }
   }
}
@media (max-width: 970px) {
   .dino {
    //  display: none;
      img {
         max-width: 300px;
      }
    h4 {
      font-size: 13px;
      top:36px;
      left:27px;
    }
   }
}
@media (max-width: 830px) {
   .dino {
    //  display: none;
      position: relative;
      width: 100%;
      text-align: right;
      img {
         width:300px;
         max-width:100%;
      }
      overflow: hidden;
    h4 {
      text-align:center;
      top:38px;
      left:auto;
      right: 137px;
    }
   }
}
@media (max-width: 700px) {
   .row-fluid {
      .span2 {
         width: 50%;
      }
      .span4 {
         width: 100%;
         img {
            width: auto;
         }
      }
   }
}
@media (max-width: 600px) {
   .info-block {
      .social {
         float: none;
         width: 140px;
         .btn-block {
            width: 100%;
         }
      }
      .info {
         float: none;
         width: 100%;
      }
   }

   .post-37 {
      .old {
         right: 30px;
         margin-right:0px;
      }
      .new {
         left: 30px;
         margin-left: 0px;
      }
   }
}
@media (max-width: 500px) { 
   .row-fluid .span4 img {
      width: 100%;
   }
   .booger {
      .post-ratings {
      img {
         max-width: 40px;
      }
   }
   }  
   .post-37 #content #pagination {
      top: 20%;
   }
   header {
      img {
         width: 100%;
      }
   }
   .home .container {
      overflow:hidden;
      .row {
         padding-top: 40px;
      }
   }
   footer {
      p {      
         float: none !important;
         text-align: center !important;
         width: 80% !important;
         margin: 0 auto;
         padding: 14px 0 0;
      }
   }
   .social-links {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      text-align:center;
   }
   .booger {
      img {
         max-width: 80%;
         margin: 0 auto;
      }
      .dino {
         img {
            max-width: 100%;
         }
      }
   }
}
